.searchData {
  position: relative;
  height: 56px;
  margin: 0;
  width: auto;
}
.searchData .searchData__label {
  position: relative;
  height: 100%;
  width: 100%;
}
.searchData .searchData__label input {
  border-radius: 8px;
  border: 2px solid #878787;
  background: #FFF;
  width: 340px;
  height: 56px;
  padding: 0 40px 0 35px;
  color: #919191;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.searchData .searchData__label svg {
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}
.searchData .searchData__label .loop {
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}
.searchData input::-webkit-input-placeholder {
  color: #919191;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.searchData input::-moz-placeholder {
  color: #919191;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.searchData input:-ms-input-placeholder {
  color: #919191;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.searchData input::-ms-input-placeholder {
  color: #919191;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.searchData input::placeholder {
  color: #919191;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}