.searchData {
  position: relative;
  height: 56px;
  margin: 0;
  width: auto;
}
.searchData .searchData__label {
  position: relative;
  height: 100%;
  width: 100%;
}
.searchData .searchData__label input {
  border-radius: 8px;
  border: 2px solid #878787;
  background: #FFF;
  width: 340px;
  height: 56px;
  padding: 0 40px 0 35px;
  color: #919191;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.searchData .searchData__label svg {
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}
.searchData .searchData__label .loop {
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}
.searchData .searchData__label .selectSearch {
  display: block;
  background-color: #fff;
  border-radius: 8px;
  position: absolute;
  z-index: 12;
  top: 60px;
  overflow-y: scroll;
  height: 150px;
  width: 340px;
  padding: 5px 20px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}
.searchData .searchData__label .selectSearch p {
  font-size: 20px;
  margin: 2px 0px;
  color: #000;
  border-bottom: 2px solid black;
  padding: 20px 0px 30px;
  width: 100%;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.searchData .searchData__label .selectSearch::-webkit-scrollbar {
  width: 0.5em;
}
.searchData .searchData__label input::-webkit-input-placeholder {
  color: #919191;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.searchData .searchData__label input::-moz-placeholder {
  color: #919191;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.searchData .searchData__label input:-ms-input-placeholder {
  color: #919191;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.searchData .searchData__label input::-ms-input-placeholder {
  color: #919191;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.searchData .searchData__label input::placeholder {
  color: #919191;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}