.searchData
    position: relative
    height: 56px
    margin: 0
    width: auto
    // background: red
    .searchData__label
        position: relative
        // background: green
        height: 100%
        width: 100%
        input
            border-radius: 8px
            border: 2px solid #878787
            background: #FFF
            width: 340px
            height: 56px
            padding: 0 40px 0 35px
            color: #919191
            font-family: 'Montserrat', sans-serif
            font-size: 20px
            font-style: normal
            font-weight: 400
            line-height: 20px
        svg
            position: absolute
            right: 5px
            top: 50%
            transform: translate(-50%,-50%)
            cursor: pointer
        .loop
            position: absolute
            left: 20px
            top: 50%
            transform: translate(-50%,-50%)
            cursor: pointer
            

    // input:focus
    //     border: none
    // svg
    //     position: absolute
    //     left: 25px
    //     top: 50%
    //     transform: translate(-50%,-50%)
    input::placeholder
        // padding: 0 0 0 30px
        color: #919191
        font-family: 'Montserrat', sans-serif
        font-size: 20px
        font-style: normal
        font-weight: 400
        line-height: 20px
