<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>About</h1>
    <h1>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. At, molestias?
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni commodi
      asperiores sit qui repellendus officia eveniet officiis tenetur dolore nam
      est possimus facilis, fugiat, cum veniam assumenda ipsam nisi sapiente
      consectetur suscipit odio inventore expedita sequi soluta! Mollitia odit
      vitae assumenda, incidunt provident aliquam, cum beatae doloribus placeat
      reiciendis vel?
    </p>
    <!-- <span><%= username %></span> -->
  </body>
</html>
