<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Table</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div id="root" style="width: 100vw; height: 100vh"></div>
    <div class="select">
      <select id="mySelect">
        <option value="Admin">Admin</option>
        <option value="Nurdin">Nurdin</option>
      </select>
    </div>
    <script type="module" src="/js/app.js"></script>
  </body>
</html>
