.authBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.authBlock button {
  padding: 15px 40px;
  border-radius: 8px;
  background: #AD02E0;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border: 3px solid #AD02E0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.authBlock button:nth-child(1) {
  background: #fff;
  color: #AD02E0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.authBlock button:nth-child(1):hover {
  background: #AD02E0;
  color: #fff;
}
.authBlock button:nth-child(2):hover {
  background: #73218b;
}